@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;800;900&display=swap");
:root {
  --blue-dark: #152c5b;
  --blue: #3252df;
  --text: #150050;
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

section {
  padding: 1px 130px;
}
nav {
  padding: 10px 130px;
  font-size: 1.1rem;
  border-bottom: 1px solid #e5e5e5;
}
.toggle{
  display: none;
}
h2 {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: var(--blue-dark);
}
h2 span {
  color: var(--blue);
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
a.menu {
  color: var(--blue-dark);
  font-size: 1rem;
  font-weight: 600;
}
a.menu:hover {
  color: var(--blue);
  border-bottom: 2px solid var(--blue);
  padding-bottom: 0px;
  transition: 0.3s;
}
a.logo {
  color: var(--blue-dark);
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
}
a.logo span {
  color: var(--blue);
}
.header-content {
  margin-top: 6%;
}
section.banner {
  background-color: #fdfdfd;
  height: 91vh;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
}
.container {
  max-width: 100%;
}
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 1rem;
  line-height: 1.6;
  margin-top: 15px;
  width: 75%;
}
.header-title {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 0.8;
  color: var(--blue-dark);
}


.image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  display: inline-block;
  padding: 0.85rem 2rem;
  background-color: var(--blue);
  color: white;
  border-radius: 1rem;
  font-size: 1.05rem;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.3s;
  margin-top: 20px;
}

.btn:hover {
  background-color: var(--blue-dark);
  color: white;
}

@media (max-width: 992px) {
  nav {
    padding: 5px 70px;
  }
  .nav-link{
    padding: 5px;
  }
  a.menu {
    font-size: .9rem;
    margin-left: 19px;
  }
  section.banner {
    padding: 1px;
    height: 92vh;
  }
  .banner .header-content{
    margin-top: 8%;
  }
  .banner .container{
    max-width: 100%;
  }
  .column-1{
    margin-left: 12%;
  }
  .column-2 .img{
    margin-left: 12%;
    max-width: 90%;
  }
  .header-title {
    font-size: 2.1rem;
  }
  .text {
    font-size: .9rem;
  }
  .btn {
    padding: 0.75rem 1.7rem;
    font-size: 0.8rem;
    margin-top: 15px;
  }
}
@media (max-width: 768px){
  nav {
    padding: 5px 30px;
  }
  a.logo {
    font-size: 1.3rem;
  }
  a.menu {
    font-size: .9rem;
  }
  section.banner{
    height: 92vh;
  }
  .banner .header-content {
    margin-top: 2%;
  }
  .grid-2 {
    display: flex;
    flex-direction: column-reverse;
  }
  .column-1{
    margin: auto;
    text-align: center;
    max-width: 70%;
  }
  .column-2 .img {
    margin: auto;
    max-width: 75%;
  }
  
  .header-title {
    margin-top: 7px;
    font-size: 1.8rem;
  }
  .text {
    font-size: 1rem;
    width: 100%;
    margin-top: 12px;
  }
  .btn {
    padding: 0.75rem 1rem;
    font-size: .9rem;
    margin-top: 8px;
  }
}
@media (max-width :480px){
  nav {
    padding: 7px 20px;
  }
  .nav{
    display: none;
  }
  .nav.active{
    width: 100%;
    height: calc(100% - 42px);
    position: fixed;
    z-index: 100;
    top: 42px;
    left: 0;
    display: flex;
    justify-content: center!important;
    align-items: center;
    flex-direction: column;
    background: black;
    opacity: .9;
  }
  .toggle{
    display: block;
    filter: invert(1);
    cursor: pointer;
    height: 20px;
    width: 22px;
    background: url("img/menu.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    filter: none;
  }
  .toggle.active{
      background: url("img/cancel.png");
      background-size: 22px;
      background-repeat: no-repeat;
      background-position: center;
      transition: .5s;
      height: 20px;
      width: 20px;
  }
  a.logo {
    font-size: 1rem;
  }
  a.menu{
    font-size: 1.1rem;
    line-height: 30px;
    margin-left: unset;
    color: white;
  }
  .banner .header-content {
    margin-top: 12%;
  }
  .grid-2 {
    display: flex;
    flex-direction: column-reverse;
  }
  img {
    width: 100%;
  }
  .column-1 {
    max-width: 90%;
  }
  .header-title {
    margin-top: 15px;
    font-size: 1.6rem;
  }
  .text {
    font-size: .9rem;
    margin-top: 15px;
  }
  
  .btn {
    margin-top: 10px;
  }
}
@media screen and (max-width: 360px) {
  nav{
    padding: 6px 15px;
  }
  a.menu{
    font-size: 1rem;
  }
  .toggle{
    background-size: 24px;
  }
  .toggle.active {
    background-size: 17px;
  }
  section.banner {
    height: 93vh;
  }
  .banner .container{
    padding: 0px;
  }
  .column-2 .img {
    max-width: 90%;
  }
  .banner .header-content {
    margin-top: 15%;
  }
  .header-title {
    font-size: 1.4rem;
    margin-top: 25px;
  }
}