@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
}
:root {
  --blue-dark: #152c5b;
  --blue: #3252df;
  --text: #150050;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}
nav {
  padding: 10px 150px;
  font-size: 1.1rem;
  border-bottom: 1px solid #e5e5e5;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.nav {
  display: flex;
}
a.menu {
  color: var(--blue-dark);
  font-size: 1rem;
  font-weight: 600;
  margin-left: 19px;
}
a.menu:hover {
  color: var(--blue);
  border-bottom: 2px solid var(--blue);
  padding-bottom: 0px;
  transition: 0.3s;
}
a.logo {
  color: var(--blue-dark);
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
}
a.logo span {
  color: var(--blue);
}
/* 
.read-more-container {
  display: flex;
  flex-direction: column;
  color: #111;
  gap: 1rem;
  padding: 10px 150px;
} */

.container {
  padding: 2rem;
  background-color: #fff;
  border-radius: 6px;
  line-height: 1.4rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  padding: 50px 150px;
}
.container h2 {
  color: var(--blue-dark);
  margin-bottom: 20px;
  text-align: center;
}
/* .read-more-btn {
  color: #0984e3;
  cursor: pointer;
}

.read-more-text {
  display: none;
}

.read-more-text--show {
  display: inline;
} */

.design-cards__card:hover {
  background-color: #3252df;
  text-decoration: none;
}

.design-cards__card:hover img {
  opacity: 0.25;
}

.design-cards__card picture {
  position: absolute;
  inset: 0;
}

.design-cards__card picture img {
  vertical-align: middle;
  object-fit: cover;
  min-width: 100%;
  opacity: 0.5;
  transition: opacity 0.2s ease-in;
}


.design-cards__text h2 {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}


@media screen and (max-width: 1440px) {
  .design-cards__card {
      height: 18rem;
  }
  .design-cards {
      display: flex;
      grid-template-columns: 1fr 1fr;
      flex-direction: column;
      gap: .5rem;
      margin: 0px auto;
      padding: 20px 130px;
  }    
  .design-cards__card {
      position: relative;
      display: flex;
      border-radius: 1rem;
      height: 16rem;
      overflow: hidden;
      background-color: black;
      transition: background-color 0.2s ease-in;
  }
  .design-cards--design {
      margin-block: 10rem;
  }
  .design-cards--home {
      grid-template-rows: 1fr 1fr;
  }
  .design-cards__link {
      display: flex;
      gap: 1.3125rem;
      align-items: center;
      margin: auto;
      letter-spacing: 0.3125rem;
      color: white;
      text-decoration: none;
  }
  .design-cards__text {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      text-transform: uppercase;
      margin: auto;
      z-index: 1;
      text-align: center;
  }
}
@media screen and (max-width: 991px){
  h2{
      font-size: 1.7rem;
      line-height: 1.4rem;
  }
  .design-cards {
      display: flex;
      grid-template-columns: 1fr 1fr;
      flex-direction: column;
      gap: .7rem;
      margin: 0px auto;
      padding: 20px 70px;
  }    
  .design-cards__card {
      position: relative;
      display: flex;
      border-radius: 1rem;
      height: 18rem;
      overflow: hidden;
      background-color: black;
      transition: background-color 0.2s ease-in;
  }
  .design-cards--home .design-cards__card {
      height: 18rem;
  }
  .design-cards__link {
      margin: auto;
      letter-spacing: 0.3125rem;
  }
  .design-cards__text {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      text-transform: uppercase;
      margin: auto;
  }
}
@media screen and (max-width: 767px){
  h2{
      font-size: 1.6rem;
      line-height: 1rem;
  }
  .design-cards {
      display: flex;
      grid-template-columns: 1fr 1fr;
      flex-direction: column;
      gap: .5rem;
      margin: 0px auto;
      padding: 20px 30px;
  }    
  .design-cards__card {
      position: relative;
      display: flex;
      border-radius: 1rem;
      height: 15rem;
      overflow: hidden;
      background-color: black;
      transition: background-color 0.2s ease-in;
  }
  .design-cards--home .design-cards__card{
      height: 15rem;
  }
  .design-cards__link {
      margin: auto;
      letter-spacing: 0.3125rem;
      font-size: 1rem;
  }
  .design-cards__text {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      text-transform: uppercase;
      margin: auto;
  }
}
@media screen and (max-width: 479px) {
  h2{
      font-size: 1.1rem;
      line-height: .1rem;
  }
  .design-cards {
      display: flex;
      grid-template-columns: 1fr 1fr;
      flex-direction: column;
      gap: .5rem;
      margin: 0px auto;
      padding: 15px 20px;
  }    
  .design-cards__card {
      position: relative;
      display: flex;
      border-radius: 1rem;
      height: 12rem;
      overflow: hidden;
      background-color: black;
      transition: background-color 0.2s ease-in;
  }
  .design-cards--home .design-cards__card{
      height: 12rem;
  }
  .design-cards__link {
      margin: auto;
      letter-spacing: 0.3125rem;
      font-size: .9rem;
  }
  .design-cards__text {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      text-transform: uppercase;
      margin: auto;
  }
}
@media screen and (max-width: 359px) {
  h2{
      font-size: .9rem;
      line-height: 1.2rem;
  }
  .design-cards {
      display: flex;
      grid-template-columns: 1fr 1fr;
      flex-direction: column;
      gap: .5rem;
      margin: 0px auto;
  }    
  .design-cards__card {
      position: relative;
      display: flex;
      border-radius: 1rem;
      height: 12rem;
      overflow: hidden;
      background-color: black;
      transition: background-color 0.2s ease-in;
  }
  .design-cards__link {
      margin: auto;
      letter-spacing: 0.3125rem;
      font-size: .9rem;
  }
  .design-cards__text {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      text-transform: uppercase;
      margin: auto;
      width: 80%;
  }
}

/* TUGAS RESUME JENIS JARINGAN */
.jenis .item{
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--blue-dark);
  margin-top: 25px;
  margin-bottom: 5px;
}
.jenis .definisi{
  margin-top: 10px;
}
.jenis .list-item{
  color: var(--blue);
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 10px;
}
.jenis .img{
  text-align: center;
  margin: 30px auto;
  width: 50%;
}
.jenis .definisi,
.jenis .intro{
  text-align: justify;
  text-indent: 2.5rem;
}


/* TUGAS RESUME TOPOLOGI */

.topologi .list-item{
  color: var(--blue-dark);
  font-size: 1.2rem;
  font-weight: bold;
  margin: 25px 0px 5px 15px;
}
.topologi ul{
  list-style: decimal;
}
.topologi .definisi{
  margin-bottom: 10px;
}
.topologi .karakteristik,
.topologi .kelebihan,
.topologi .kekurangan{
  color: var(--blue);
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 7px;
}
.topologi .alphabet{
  list-style: lower-alpha;
  margin-left: 2%;
  margin-bottom: 10px;
}
.topologi .img{
  text-align: center;
  margin: 30px auto;
  width: 50%;
}
.topologi .definisi,
.topologi .intro{
  text-align: justify;
  text-indent: 2.5rem;
}


@media (max-width: 992px) {
  nav {
    padding: 5px 70px;
  }
  a.menu {
    font-size: .9rem;
  }
  /* .read-more-container {
    padding: 10px 75px;
  } */
  .container h2 {
    font-size: 1.4rem;
  }
  .container .img{
    width: 40%;
    margin: 30px auto;
  }
  .container .img img{
    width: 100%;
  }
}
@media (max-width: 768px){
  nav {
    padding: 5px 50px;
  }
  a.logo {
    font-size: 1.3rem;
  }
  a.menu {
    font-size: .8rem;
  }
  /* .read-more-container {
    padding: 10px 50px;
  } */
  .container h2 {
    font-size: 1.3rem;
    margin-bottom: 15px;
  }
  .jenis .definisi, .jenis .intro,
  .topologi .definisi, .topologi .intro {
    font-size: .9rem;
  }
  .jenis .item {
    font-size: 1rem;
    margin-top: 20px;
  }
  .jenis .definisi,
  .topologi .definisi {
    margin-top: 5px;
  }
  .jenis .list-item {
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  /* topologi */
  .topologi .list-item {
    font-size: 1.1rem;
  }
  .topologi .karakteristik, .topologi .kelebihan, .topologi .kekurangan {
    font-size: 1rem;
  }
  .topologi .alphabet {
    font-size: .9rem;
    margin-left: 3%;
  }
  .topologi .alphabet li{
    margin-bottom: 6px;
  }
}
@media (max-width :480px){
  section.banner {
    height: 100vh;
    padding: 0px 0px;
  }
  nav {
    padding: 5px 10px;
  }
  a.logo {
    font-size: 1rem;
  }
  .container {
    padding: 1rem;
  }
  .container h2 {
    font-size: 1.2rem;
    line-height: 30px;
  }
  .container .img {
    width: 80%;
    margin: 20px auto;
  }
  /* .read-more-container {
    padding: 10px 10px;
  }
  .read-more-btn{
    font-size: .9rem;
  } */

  /* jenis jaringan */
  .jenis .definisi, .jenis .intro, .topologi .definisi, .topologi .intro {
    font-size: .9rem;
  }
  .jenis .item, .jenis .item .list-item {
    margin-top: 15px;
    margin-bottom: 0px;
  }
  .jenis .item, .jenis .list-item {
    font-size: .9rem;
  }

  /* topologi */
  .topologi .list-item {
    font-size: .9rem;
    margin: 20px 0px 0px 15px;
  }
  .topologi .alphabet {
    margin-left: 4%;
  }
  .topologi .alphabet li{
    margin-bottom: 6px;
  }
  .topologi .karakteristik, .topologi .kelebihan, .topologi .kekurangan {
    margin-bottom: 5px;
    margin-top: 15px;
  }
}