@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;800;900&display=swap");
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    line-height: 1.625rem;
    overflow-x: hidden;
    position: relative;
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
}

h2{
    font-weight: 500;
    margin: 0;
    text-transform: capitalize;
    font-size: 2.5rem;
    line-height: 2rem;
    letter-spacing: 0.125rem;
}

.design-cards__card:hover {
    background-color: #3252df;
    text-decoration: none;
}

.design-cards__card:hover img {
    opacity: 0.25;
}

.design-cards__card picture {
    position: absolute;
    inset: 0;
}

.design-cards__card picture img {
    vertical-align: middle;
    object-fit: cover;
    min-width: 100%;
    opacity: 0.5;
    transition: opacity 0.2s ease-in;
}


.design-cards__text h2 {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}


@media screen and (max-width: 1440px) {
    .container{
        width: 82%;
        display: flex;
        margin: 30px auto;
    }
    .design-cards__card {
        height: 18rem;
    }
    .design-cards {
        display: -ms-grid;
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-direction: column;
        gap: .5rem;
        margin: 0px auto;
        padding: 20px;
    }    
    .design-cards__card {
        position: relative;
        display: flex;
        border-radius: 1rem;
        height: 16rem;
        overflow: hidden;
        background-color: black;
        transition: background-color 0.2s ease-in;
    }
    .design-cards--design {
        margin-block: 10rem;
    }
    .design-cards--home {
        grid-template-rows: 1fr 1fr;
    }
    .design-cards--home .design-cards__card:first-child {
        grid-row: span 2;
        height: auto;
    }
    .design-cards--home .design-cards__card:nth-child(5) {
        grid-row: span 2;
        height: auto;
    }
    .design-cards__link {
        display: flex;
        gap: 1.3125rem;
        align-items: center;
        margin: auto;
        letter-spacing: 0.3125rem;
        color: white;
        text-decoration: none;
    }
    .design-cards__text {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        text-transform: uppercase;
        margin: auto;
        z-index: 1;
        text-align: center;
    }
}
@media screen and (max-width: 991px){
    h2{
        font-size: 2rem;
        line-height: 1.4rem;
    }
    .container{
        width: 90%;
    }
    .design-cards {
        display: flex;
        grid-template-columns: 1fr 1fr;
        flex-direction: column;
        gap: .7rem;
        margin: 0px auto;
    }    
    .design-cards__card {
        position: relative;
        display: flex;
        border-radius: 1rem;
        height: 18rem;
        overflow: hidden;
        background-color: black;
        transition: background-color 0.2s ease-in;
    }
    .design-cards--home .design-cards__card:first-child {
        height: 18rem;
    }
    .design-cards--home .design-cards__card:nth-child(5) {
        height: 18rem;
    }
    .design-cards__link {
        margin: auto;
        letter-spacing: 0.3125rem;
    }
    .design-cards__text {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        text-transform: uppercase;
        margin: auto;
    }
}
@media screen and (max-width: 767px){
    h2{
        font-size: 1.8rem;
        line-height: 1rem;
    }
    .container{
        width: 100%;
    }
    .design-cards {
        display: flex;
        grid-template-columns: 1fr 1fr;
        flex-direction: column;
        gap: .5rem;
        margin: 0px auto;
    }    
    .design-cards__card {
        position: relative;
        display: flex;
        border-radius: 1rem;
        height: 15rem;
        overflow: hidden;
        background-color: black;
        transition: background-color 0.2s ease-in;
    }
    .design-cards--home .design-cards__card:first-child {
        height: 15rem;
    }
    .design-cards--home .design-cards__card:nth-child(5) {
        height: 15rem;
    }
    .design-cards__link {
        margin: auto;
        letter-spacing: 0.3125rem;
        font-size: 1rem;
    }
    .design-cards__text {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        text-transform: uppercase;
        margin: auto;
    }
}
@media screen and (max-width: 479px) {
    h2{
        font-size: 1.5rem;
        line-height: .1rem;
    }
    .container{
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
    }
    .design-cards {
        display: flex;
        grid-template-columns: 1fr 1fr;
        flex-direction: column;
        gap: .5rem;
        margin: 0px auto;
    }    
    .design-cards__card {
        position: relative;
        display: flex;
        border-radius: 1rem;
        height: 12rem;
        overflow: hidden;
        background-color: black;
        transition: background-color 0.2s ease-in;
    }
    .design-cards--home .design-cards__card:first-child {
        height: 12rem;
    }
    .design-cards--home .design-cards__card:nth-child(5) {
        height: 12rem;
    }
    .design-cards__link {
        margin: auto;
        letter-spacing: 0.3125rem;
        font-size: .9rem;
    }
    .design-cards__text {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        text-transform: uppercase;
        margin: auto;
    }
}
@media screen and (max-width: 359px) {
    h2{
        font-size: 1.5rem;
        line-height: .1rem;
    }
    .container{
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
    }
    .design-cards {
        display: flex;
        grid-template-columns: 1fr 1fr;
        flex-direction: column;
        gap: .5rem;
        margin: 0px auto;
    }    
    .design-cards__card {
        position: relative;
        display: flex;
        border-radius: 1rem;
        height: 12rem;
        overflow: hidden;
        background-color: black;
        transition: background-color 0.2s ease-in;
    }
    .design-cards--home .design-cards__card:first-child {
        height: 12rem;
    }
    .design-cards--home .design-cards__card:nth-child(5) {
        height: 12rem;
    }
    .design-cards__link {
        margin: auto;
        letter-spacing: 0.3125rem;
        font-size: .9rem;
    }
    .design-cards__text {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        text-transform: uppercase;
        margin: auto;
    }
}